@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=DM+Serif+Display&family=Lustria&family=Neucha&family=Raleway:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
}

.navbar {
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}
.navbar collapse {
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: end;
  align-items: end;
}
.navbar img {
  height: 60px;
}
.navbar a {
  color: #588157 !important;
}
.navbar a:hover {
  color: #000 !important;
}

h2 {
  text-align: center;
  color: #588157;
  font-size: 30px;
  font-family: "DM Serif Display", serif;
  text-transform: uppercase;
  margin: 20px;
  padding: 15px;
}

h4 {
  color: #31572C;
  font-family: "Lustria", serif;
}

.btn-primary {
  background-color: #31572C;
}

.boton {
  color: #31572C;
}

.macetas .macetas-img {
  background: url(img/macetasport.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 500px;
}
.macetas .btn {
  border-color: #588157;
  text-transform: uppercase;
  color: #588157;
  max-width: 100px;
}
.macetas .btn:hover {
  background-color: #588157;
  color: #fff;
}

.consejos .consejos-img {
  background: url(img/consejos.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 500px;
}
.consejos .btn {
  border-color: #588157;
  text-transform: uppercase;
  color: #588157;
  max-width: 100px;
}
.consejos .btn:hover {
  background-color: #588157;
  color: #fff;
}

.form {
  position: relative;
}
.form .fa-search {
  position: absolute;
  top: 12px;
  left: 20px;
  color: #588157;
}
.form input {
  height: 35px;
  text-indent: 33px;
  border-radius: 10px;
}
.form input:focus {
  box-shadow: none;
  border-color: #31572C;
}

.coleccion-interior a {
  text-decoration: none;
  color: #31572C;
  font-size: 20px;
  font-family: "Lustria", serif;
}
.coleccion-interior a:hover {
  color: #000;
}
.coleccion-interior .btn {
  background-color: #31572C;
  max-width: 200px;
}

.sec-macetas img {
  padding: 20px;
}
.sec-macetas h4 {
  margin: 20px;
  font-family: "Lustria", serif;
}
.sec-macetas p {
  margin: 20px;
  font-family: "Lustria", serif;
  font-size: 15px;
}

.coleccion-macetas p {
  color: #31572C;
  font-family: "Lustria", serif;
}
.coleccion-macetas h4 {
  margin: 20px;
  font-family: "Lustria", serif;
}
.coleccion-macetas .btn {
  background-color: #31572C;
  max-width: 200px;
}

.post2 img {
  width: 500px;
  height: 500px;
}
.post2 p {
  font-size: 15px;
  font-family: "Lustria", serif;
}

.contacto {
  background-image: url(img/fondocontac.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.contacto form {
  max-width: 600px;
}
.contacto input:focus {
  box-shadow: none;
}
.contacto .form-control {
  padding: 10;
}
.contacto .form-control::-moz-placeholder {
  color: #fff;
}
.contacto .form-control::placeholder {
  color: #fff;
}
.contacto .btn {
  color: #588157;
}
.contacto .btn:hover {
  background-color: transparent !important;
  color: #fff;
}

footer {
  background-color: #31572C;
  color: #fff;
}/*# sourceMappingURL=style.css.map */