*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=DM+Serif+Display&family=Lustria&family=Neucha&family=Raleway:wght@100&display=swap');

//font-family: 'Cinzel', serif;
//font-family: 'DM Serif Display', serif;
//font-family: 'Lustria', serif;
//font-family: 'Neucha', cursive;
//font-family: 'Raleway', sans-serif;

$font1: 'Lustria', serif;
$font2: 'DM Serif Display', serif;
$color1: #588157;
$color2: #31572C;

.navbar {
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
    collapse{
        height: 80px;
        background-color: #fff;
        display: flex;
        justify-content: end;
        align-items: end;
    }
    img {
        height: 60px;
    }
    a {
        color: $color1 !important;
    }
    a:hover {
        color: #000 !important;
    }
}

h2 {
    text-align: center;
    color: $color1;
    font-size: 30px;
    font-family: $font2;
    text-transform: uppercase;
    margin: 20px;
    padding: 15px;
}

h4 {
    color: $color2;
    font-family: $font1;
}

.btn-primary {
    background-color: $color2;
}

.boton {
    color: $color2;
}

.macetas{
    .macetas-img{
    background:url(img/macetasport.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 500px;
    }
    .btn{
        border-color: $color1;
        text-transform: uppercase;
        color: $color1;
        max-width: 100px;
    }
    .btn:hover{
        background-color: $color1;
        color: #fff;
    }
}

.consejos{
    .consejos-img{
    background:url(img/consejos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 500px;
    }
    .btn{
        border-color: $color1;
        text-transform: uppercase;
        color: $color1;
        max-width: 100px;
    }
    .btn:hover{
        background-color: $color1;
        color: #fff;
    }
}

.form{
    position: relative;

    .fa-search{
        position: absolute;
        top: 12px;
        left: 20px;
        color: $color1;
        }

    input{
        height: 35px;
        text-indent: 33px;
        border-radius: 10px;
    }

    input:focus{
        box-shadow: none;
        border-color: $color2;
    }
}

.coleccion-interior {
    a {
        text-decoration: none;
        color: $color2;
        font-size: 20px;
        font-family: $font1;
    }

    a:hover{
        color: #000;
    }
    
    .btn{
        background-color: $color2;
        max-width: 200px;
    }
}

.sec-macetas{
    img{
        padding: 20px;
    }
    h4{
        margin: 20px;
        font-family: $font1;
    }
    p{
        margin: 20px;
        font-family: $font1;
        font-size: 15px;
    }
}

.coleccion-macetas{
    p{
        color: $color2;
        font-family: $font1;
    }
    h4{
        margin: 20px;
        font-family: $font1;
    }

    .btn{
        background-color: $color2;
        max-width: 200px;
    }
}

.post2{
    img{
        width: 500px;
        height: 500px;
    }
    p{
        font-size: 15px;
        font-family: $font1;
    }
}

.contacto{
    background-image: url(img/fondocontac.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    form{
        max-width: 600px;
    }
    
    input:focus{
        box-shadow: none;
    }

    .form-control{
        padding: 10;
    }
    .form-control::placeholder{
        color: #fff;
    }
    .btn{
        color: $color1;
    }
    .btn:hover{
        background-color: transparent !important;
        color: #fff;
    }
}

footer {
    background-color: $color2;
    color: #fff;
    }