.navbar{
    height: 80px;
    background-color: #fff;
}
.navbar-brand img{
    height: 60px;
}
.navbar-brand{
    color: #588157 !important;
}
.nav-link{
    color: #588157 !important;
}
a:hover{
    color: #000 !important;
}
h2{
    text-align: center;
    color: #588157;
    font-size: 30px;
    margin: 20px;
    padding: 15px;
}

footer{
    background-color: #588157;
    color:#fff;
}